<style>
    #headerContainer {
    }

    #soda {
        width: fit-content;
    }

    #greeting {
        width: fit-content;
        float: right;
    }
</style>

<div id="headerContainer">
        <h1 id="soda">Project SODA!</h1>
        <h3 id="greeting">Hello <%= user.username %></h3>
</div>