<div class="message" you>
    <div class="messageTopPart">
        <img class='message-pfp' src='PFPFILEPATH' you>
        <div class="text">
            <strong class='message-username' you>SENDERUSERNAME</strong class='message-timestamp' you></strong>
            <i>TIMESTAMP</i>
        </div>
    </div>
    <p>MESSAGETEXT</p>
    <div class="attachments">
        <div class="attachment">
            <img src="/public/img/STEVEN.png" alt="">
        </div>
    </div>
</div>