<div class="message" you data-message-id="SETMESSAGEID">
    <div class="messageTopPart">
        <img class='message-pfp' src='PFPFILEPATH' you>
        <div class="text">
            <strong class='message-username' you>SENDERUSERNAME</strong class='message-timestamp' you></strong>
            <i>TIMESTAMP</i>
        </div>
    </div>
    <p>MESSAGETEXT</p>
    <button onclick="deleteMessage(this.parentElement)">delete</button>
    <div class="attach"></div>
</div>