<div class="message" you>
    <img class='message-pfp' src='PFPFILEPATH' you><strong class='message-username' you>SENDERUSERNAME</strong class='message-timestamp' you>&nbsp;<strong><i>TIMESTAMP</i>
    <p>MESSAGETEXT</p>
</div>