<link rel="stylesheet" href="./public/css/style.css">
<style>
    #chats {
        
    }
</style>
 
<div id="ui">
    <button id="createRoom" onclick="showModal(modals.createRoom)">Create Room</button>
</div>

<div id="chats">
    <% if (rooms.length === 0) { %>
        <p>You have no chats</p>
    <% } else { %>
        <%= rooms.map(room=> {
            return `<a href="/chat?roomid=${room.id}">${room.name}</a>`
        }).join('<br>') %>
    <% } %>
</div>