<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            height: 100%;
        }

        #container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        #header-container {
            background-color: var(--bg-color);
            color: white;
            padding: 0.5rem;
        }

        #main-container {
            display: flex;
            flex: 1;
        }

        #chat-container {
            flex: 1;
            background-color: var(--bg-color3);
            padding: 1rem;
            overflow-y: auto;
            box-shadow: -10px 0 15px rgba(40, 40, 40, 0.5);
        }

        #sidebar-container {
            width: 250px;
            background-color: var(--bg-color2);
            padding: 1rem;
            overflow-y: auto;
            border: 1px solid #000;
        }
    </style>
</head>

<body>

    <div id="container">
        <div id="header-container">
            <%- include('./partials/header') %>
        </div>
        <div id="main-container">
            <div id="sidebar-container">
                <%- include('./partials/rooms.ejs') %>
            </div>
            <div id="chat-container">
                <%- include('./partials/chat.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>