<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>REGISTER</h1>

    <% if(!formData) {%>
        <% formData = {} %>
    <% } %>

    <form action="/register" method="post" enctype="multipart/form-data">
        <input type="text" id="usernameBox" name="username" value="<%= formData.username %>">
        <input type="password" id="passwordBox" name="rawPass" value="<%= formData.rawPass %>">
        <input type="file" id="pfpBox" accept=".png, .jpg, .jpeg, .jfif, .webp" name="pfpFile">
        <input type="hidden" name="redirect" value="<%= locals?.redirect %>">
        <button type="submit">GO</button>
    </form>
    <% if(error) { %>
        <%= error %>
    <% } %>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/public/js/register.js"></script>
</body>
</html>