<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>
    <h1><%= user.username %>'s Rooms</h1>
    <%= if(rooms.length === 0) { %>
        <p>You have no rooms</p>
    <% } else { %>
        <%= rooms.map(room => {
            return `<a href="/chat?roomid=${room.id}">${room.name}</a>`
        }).join('<br>') %>
    <% } %>
</body>
</html>