/* Coke */

body.coke header#headerContainer {           background: url(../img/themes/coke/Header.png), #1f0000; }
body.coke header#headerContainer > .bubble { background: url(../img/themes/coke/Bubble.png);            }
body.coke div#sidebar-container { background: #3a1700; }
body.coke { 
    background-color: #3f1f0a;

    --btn-bg-color: #8d4f25;
    --message-from-you: var(--btn-bg-color);
    --btn-bg-color-hover: #ac6b41;

    --modal-bg-color: var(--btn-bg-color);
    --modal-border-color: var(--btn-bg-color-hover);
}

/* Dr. Pepper */

body.drp header#headerContainer {           background: url(../img/themes/drp/Header.png), #130000; }
body.drp header#headerContainer > .bubble { background: url(../img/themes/drp/Bubble.png);            }
body.drp div#sidebar-container { background: #2c0c00; }
body.drp { 
    background-color: #200200;
    
    --btn-bg-color: #583214;
    --message-from-you: var(--btn-bg-color);
    --btn-bg-color-hover: #976137;

    --modal-bg-color: var(--btn-bg-color);
    --modal-border-color: var(--btn-bg-color-hover);
}

/* Fanta */

body.fanta header#headerContainer {           background: url(../img/themes/fanta/Header.png), #270404; }
body.fanta header#headerContainer > .bubble { background: url(../img/themes/fanta/Bubble.png);            }
body.fanta div#sidebar-container { background: #693011; }
body.fanta { 
    background-color: #471900;
    
    --btn-bg-color: #8f3200;
    --message-from-you: var(--btn-bg-color);
    --btn-bg-color-hover: #c0744b;

    --modal-bg-color: var(--btn-bg-color);
    --modal-border-color: var(--btn-bg-color-hover);
}

/* Mtn. Dew */

body.mtn header#headerContainer {           background: url(../img/themes/mtn/Header.png), #141b01; }
body.mtn header#headerContainer > .bubble { background: url(../img/themes/mtn/Bubble.png);            }
body.mtn div#sidebar-container { background: #216501; }
body.mtn { 
    background-color: #3a761e;
    

    --btn-bg-color: #3b7a1e;
    --message-from-you: var(--btn-bg-color);
    --btn-bg-color-hover: #6baa4d;

    --modal-bg-color: var(--btn-bg-color);
    --modal-border-color: var(--btn-bg-color-hover);
}

/* Sprite */

body.sprite header#headerContainer {           background: url(../img/themes/sprite/Header.png), #2e382c; }
body.sprite header#headerContainer > .bubble { background: url(../img/themes/sprite/Bubble.png);            }
body.sprite div#sidebar-container { background: #4f5d49; }
body.sprite { 
    background-color: #1d221a;


    --btn-bg-color: #65775e;
    --btn-bg-color-hover: #a1b997;
}

body.coke,
body.drp,
body.fanta,
body.mtn,
body.sprite {
    --message-from-you: var(--btn-bg-color);

    --message-bg: color-mix(in srgb, var(--btn-bg-color), #0002 85%);

    --modal-bg-color: color-mix(in srgb, var(--btn-bg-color), #000 20%);
    --modal-border-color: color-mix(in srgb, var(--btn-bg-color-hover), #000 20%);
}

body.coke header#headerContainer,
body.drp header#headerContainer,
body.fanta header#headerContainer,
body.mtn header#headerContainer,
body.sprite header#headerContainer {
    background-repeat: repeat-x;
}

body.coke div.userLoginRegisterContainer form input:not([type="checkbox"]),
body.drp div.userLoginRegisterContainer form input:not([type="checkbox"]),
body.fanta div.userLoginRegisterContainer form input:not([type="checkbox"]),
body.mtn div.userLoginRegisterContainer form input:not([type="checkbox"]),
body.sprite div.userLoginRegisterContainer form input:not([type="checkbox"]) {
    background: var(--btn-bg-color); border-color: var(--btn-bg-color-hover);
}